@import url('./__title/not-found__title.css');
@import url('./__text/not-found__text.css');

.not-found {
  margin: auto;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}